body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.contact-img {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  clear: left;

}
.content-test {
  overflow: auto;
}

.contact-table {
  max-width: 400px;
}

/*.contact-section {
  margin-left: 20px;
}*/
